<h1>UPLOAD BLOB AZURE</h1>


<p>
    <a asp-controller="AzureBlob"
       asp-action="Index">
        Back To Index
    </a>
</p>

<form method="post" enctype="multipart/form-data">
    <label>Seleccione un fichero</label>
    <input type="file" name="file" class="form-control" />
    <input type="hidden" name="containername" value="@ViewData["CONTAINER"]" />
    <button class="btn btn-dark">
        Upload Blob
    </button>
</form>

